.root {
    border: none;
    padding: 0;
    display: inline-flex;
    background: none;
    transition: opacity var(--transition-time-default) var(--transition-function-default);

    &:hover {
        opacity: 0.8;
    }

    &:focus-visible {
        outline: 2px solid var(--color-outline);
        outline-offset: 2px;
    }
}

.icon {
    transition: fill var(--transition-time-default) var(--transition-function-default);
    fill: transparent;

    &.active {
        fill: #F9A62B;
    }
}
