.root {
    border: none;
    padding: 0;
    display: inline-flex;
    background: none;

    &:hover {
        opacity: 0.8;
    }

    &:focus-visible {
        outline: 2px solid var(--color-outline);
        outline-offset: 2px;
    }
}

.icon {
    &.active {
        fill: #F9A62B;
    }
}
