.root {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 24px;
    color: var(--genre-tag-color);
    background: var(--genre-tag-background);

    &.action {
        --genre-tag-color: var(--color-orange);
        --genre-tag-background: rgb(234 146 99 / 0.12);
    }

    &.thriller {
        --genre-tag-color: #49B64E;
        --genre-tag-background: rgb(73 182 78 / 0.12);
    }

    &.comedy {
        --genre-tag-color: #8775D2;
        --genre-tag-background: rgb(135 117 210 / 0.12);
    }

    &.drama {
        --genre-tag-color: #958F8F;
        --genre-tag-background: rgb(149 143 143 / 0.12);
    }
}