.root {
    display: grid;
    gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 1024px) {
        display: grid;
        gap: 15px;
    }
}