.root {
    padding-top: 40px;
    padding-bottom: 160px;

    @media (width <= 1024px) {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    @media (width <= 768px) {
        padding-top: 0;
        padding-bottom: 40px;
    }
}