.label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity var(--transition-time-default) var(--transition-function-default);

    &:hover {
        opacity: 0.8;
    }
}

.checkbox {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--checkbox-color);

    &.orange {
        --checkbox-color: var(--color-orange);
    }

    &.green {
        --checkbox-color: var(--color-green);
    }

    &.blue {
        --checkbox-color: var(--color-blue);
    }

    &.black {
        --checkbox-color: var(--color-black);
    }

    &:focus-visible {
        outline: 2px solid var(--color-outline);
        outline-offset: 2px;
    }
}

.indicator {
    display: flex;
    transform: translateY(-50%);
    transition: transform var(--transition-time-default) var(--transition-function-default), opacity var(--transition-time-default) var(--transition-function-default);
    opacity: 0;

    &[data-checked] {
        transform: translateY(0);
        opacity: 1;
    }
}

.icon {
    width: 12px;
    height: 12px;
}
