:root {
  --transition-time-default: 0.15s;
  --transition-function-default: ease;
  --color-white: #fff;
  --color-black: #000;
  --color-main-background: var(--color-white);
  --color-main-text: var(--color-black);
  --color-accent: #4A61DD;
  --color-link-active: var(--color-accent);
  --color-outline: var(--color-accent);
  --color-orange: #EA580B;
  --color-green: #17A34A;
  --color-blue: #2463EB;

  box-sizing: border-box;
  height: -webkit-fill-available;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--color-main-background);
  color: var(--color-main-text);
  min-height: 100vh;
  height: 100%;
  min-height: -webkit-fill-available;
  position: relative; /* https://base-ui.com/react/overview/quick-start#ios-26-safari */
}

input,
button,
select,
textarea,
optgroup,
keygen {
  margin: 0;

  border-radius: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
}

img {
  max-width: 100%;
}

#root {
  height: 100%;
  isolation: isolate; /* https://base-ui.com/react/overview/quick-start#portals */
}
